# Enable user-workload-monitoring for OpenShift
# This allows Prometheus to scrape ServiceMonitors in user namespaces
#
# WARNING: This file is a template. If your cluster already has a
# cluster-monitoring-config ConfigMap with other settings, merge the
# enableUserWorkload: true setting manually rather than applying this file
# directly, as it will overwrite any existing configuration.
#
# To check existing config:
#   kubectl get configmap cluster-monitoring-config -n openshift-monitoring -o yaml
#
# To merge manually:
#   kubectl patch configmap cluster-monitoring-config -n openshift-monitoring \
#     --type merge -p '{"data":{"config.yaml":"enableUserWorkload: true\n"}}'
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: true

